node-red/flows.json
[{"id":"b8723ac0.2d27b8","type":"tab","label":"Keep Your Distance","disabled":false,"info":""},{"id":"8bfda20a.9ad14","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"db","tz":"","charset":"UTF8"},{"id":"6be7bfb4.da3f5","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":100,"wires":[["c109519a.3e8c8"]]},{"id":"c109519a.3e8c8","type":"json","z":"b8723ac0.2d27b8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":100,"wires":[["309e9813.174bf8","9ae6972a.066868"]]},{"id":"309e9813.174bf8","type":"function","z":"b8723ac0.2d27b8","name":"insert","func":"msg.topic = \"INSERT INTO exposure_notifications (node_id, sender_id, message_counter) VALUES (:node_id, :sender_id, :counter) ON DUPLICATE KEY UPDATE message_counter = :counter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":100,"wires":[["4225090b.a49e78"]]},{"id":"4225090b.a49e78","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":910,"y":100,"wires":[["e0727b24.4ef868"]]},{"id":"f848bffe.3e274","type":"debug","z":"b8723ac0.2d27b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":300,"wires":[]},{"id":"d51a07ac.c710f8","type":"function","z":"b8723ac0.2d27b8","name":"select notifications","func":"msg.topic = \"SELECT * FROM exposures WHERE delivered = 0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":200,"wires":[["f18a28f5.9b47a8"]]},{"id":"f18a28f5.9b47a8","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":970,"y":200,"wires":[["3cab4512.8cc88a"]]},{"id":"3cab4512.8cc88a","type":"split","z":"b8723ac0.2d27b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1130,"y":200,"wires":[["c3115dce.0d585"]]},{"id":"9a8d7326.78d7f","type":"http request","z":"b8723ac0.2d27b8","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":300,"wires":[["f848bffe.3e274","7bd9a49c.63d44c"]]},{"id":"c3115dce.0d585","type":"function","z":"b8723ac0.2d27b8","name":"prepare IFTTT webhook","func":"key = env.get('IFTTT_KEY');\nmsg.exposure_notification = msg.payload;\nmsg.url = `https://maker.ifttt.com/trigger/event/with/key/${key}?value1=${msg.payload.node_id_1}&value2=${msg.payload.node_id_2}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":300,"wires":[["9a8d7326.78d7f"]]},{"id":"5356c01d.bc7a7","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":180,"wires":[["c109519a.3e8c8"]]},{"id":"9b8aacf6.886af","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":260,"wires":[["c109519a.3e8c8"]]},{"id":"7bd9a49c.63d44c","type":"switch","z":"b8723ac0.2d27b8","name":"switch on status code","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":400,"wires":[["8f3e71bd.24adb","54e4cea.66ce63"]]},{"id":"8f3e71bd.24adb","type":"function","z":"b8723ac0.2d27b8","name":"update delivered","func":"msg.payload = msg.exposure_notification;\nmsg.topic = \"UPDATE exposures SET delivered = true WHERE node_id_1 = :node_id_1 AND node_id_2 = :node_id_2 AND date = :date\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":400,"wires":[["eef5bd8c.89b16"]]},{"id":"eef5bd8c.89b16","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":1230,"y":400,"wires":[[]]},{"id":"92aa85fe.7a5768","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":340,"wires":[["c109519a.3e8c8"]]},{"id":"a0714443.83eeb8","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":420,"wires":[["c109519a.3e8c8"]]},{"id":"a42b4ede.f982c","type":"comment","z":"b8723ac0.2d27b8","name":"add as many connections to cooja as needed","info":"","x":230,"y":40,"wires":[]},{"id":"6d904e1a.86e2f","type":"debug","z":"b8723ac0.2d27b8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1420,"y":460,"wires":[]},{"id":"3812f2d.d5e370e","type":"catch","z":"b8723ac0.2d27b8","name":"catch log messages","scope":["c109519a.3e8c8"],"uncaught":false,"x":150,"y":580,"wires":[["7875421.da4fbbc"]]},{"id":"7875421.da4fbbc","type":"debug","z":"b8723ac0.2d27b8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"9ae6972a.066868","type":"debug","z":"b8723ac0.2d27b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"54e4cea.66ce63","type":"function","z":"b8723ac0.2d27b8","name":"prepare for logging","func":"msg.topic = \"Exposure\";\nmsg.payload = msg.exposure_notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":460,"wires":[["aace3493.c191d8"]]},{"id":"aace3493.c191d8","type":"json","z":"b8723ac0.2d27b8","name":"","property":"payload","action":"str","pretty":false,"x":1230,"y":460,"wires":[["6d904e1a.86e2f"]]},{"id":"e0727b24.4ef868","type":"delay","z":"b8723ac0.2d27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1100,"y":100,"wires":[["d51a07ac.c710f8"]]},{"id":"1a2ba3c8.25632c","type":"comment","z":"b8723ac0.2d27b8","name":"only check exposures at a defined rate","info":"","x":1170,"y":60,"wires":[]},{"id":"8c52c88c.09a428","type":"comment","z":"b8723ac0.2d27b8","name":"subflow only used for logging purposes","info":"","x":1090,"y":500,"wires":[]},{"id":"e6b5d7b.02dbc28","type":"batch","z":"b8723ac0.2d27b8","name":"","mode":"interval","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":460,"y":340,"wires":[[]]}]