node-red/flows.json
[{"id":"b8723ac0.2d27b8","type":"tab","label":"Keep Your Distance","disabled":false,"info":""},{"id":"8bfda20a.9ad14","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"db","tz":"","charset":"UTF8"},{"id":"6be7bfb4.da3f5","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":320,"wires":[["c109519a.3e8c8"]]},{"id":"c109519a.3e8c8","type":"json","z":"b8723ac0.2d27b8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":320,"wires":[["9ae6972a.066868","309e9813.174bf8"]]},{"id":"309e9813.174bf8","type":"function","z":"b8723ac0.2d27b8","name":"insert","func":"msg.topic = \"INSERT INTO exposure_notifications (node_id, sender_id, message_counter) VALUES (:node_id, :sender_id, :counter) ON DUPLICATE KEY UPDATE message_counter = :counter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":320,"wires":[["4225090b.a49e78"]]},{"id":"4225090b.a49e78","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":930,"y":320,"wires":[["e0727b24.4ef868"]]},{"id":"f848bffe.3e274","type":"debug","z":"b8723ac0.2d27b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":520,"wires":[]},{"id":"d51a07ac.c710f8","type":"function","z":"b8723ac0.2d27b8","name":"select notifications","func":"msg.topic = \"SELECT * FROM exposures WHERE delivered = 0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":420,"wires":[["f18a28f5.9b47a8"]]},{"id":"f18a28f5.9b47a8","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":990,"y":420,"wires":[["3cab4512.8cc88a"]]},{"id":"3cab4512.8cc88a","type":"split","z":"b8723ac0.2d27b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1150,"y":420,"wires":[["c3115dce.0d585"]]},{"id":"9a8d7326.78d7f","type":"http request","z":"b8723ac0.2d27b8","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":520,"wires":[["f848bffe.3e274","7bd9a49c.63d44c"]]},{"id":"c3115dce.0d585","type":"function","z":"b8723ac0.2d27b8","name":"prepare IFTTT webhook","func":"key = env.get('IFTTT_KEY');\nmsg.exposure_notification = msg.payload;\nmsg.url = `https://maker.ifttt.com/trigger/exposure/with/key/${key}?value1=${msg.payload.node_id_1}&value2=${msg.payload.node_id_2}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":520,"wires":[["9a8d7326.78d7f"]]},{"id":"5356c01d.bc7a7","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":400,"wires":[["c109519a.3e8c8"]]},{"id":"9b8aacf6.886af","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":480,"wires":[["c109519a.3e8c8"]]},{"id":"7bd9a49c.63d44c","type":"switch","z":"b8723ac0.2d27b8","name":"switch on status code","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":620,"wires":[["8f3e71bd.24adb","54e4cea.66ce63"]]},{"id":"8f3e71bd.24adb","type":"function","z":"b8723ac0.2d27b8","name":"update delivered","func":"msg.payload = msg.exposure_notification;\nmsg.topic = \"UPDATE exposures SET delivered = true WHERE node_id_1 = :node_id_1 AND node_id_2 = :node_id_2 AND date = :date\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":620,"wires":[["eef5bd8c.89b16"]]},{"id":"eef5bd8c.89b16","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":1250,"y":620,"wires":[[]]},{"id":"92aa85fe.7a5768","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":560,"wires":[["c109519a.3e8c8"]]},{"id":"a0714443.83eeb8","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":640,"wires":[["c109519a.3e8c8"]]},{"id":"a42b4ede.f982c","type":"comment","z":"b8723ac0.2d27b8","name":"add as many connections to cooja as needed","info":"","x":250,"y":280,"wires":[]},{"id":"6d904e1a.86e2f","type":"debug","z":"b8723ac0.2d27b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":680,"wires":[]},{"id":"9ae6972a.066868","type":"debug","z":"b8723ac0.2d27b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":380,"wires":[]},{"id":"54e4cea.66ce63","type":"function","z":"b8723ac0.2d27b8","name":"prepare for logging","func":"msg.topic = \"Exposure\";\nmsg.payload = msg.exposure_notification;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":680,"wires":[["aace3493.c191d8"]]},{"id":"aace3493.c191d8","type":"json","z":"b8723ac0.2d27b8","name":"","property":"payload","action":"str","pretty":false,"x":1250,"y":680,"wires":[["6d904e1a.86e2f"]]},{"id":"e0727b24.4ef868","type":"delay","z":"b8723ac0.2d27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1120,"y":320,"wires":[["d51a07ac.c710f8"]]},{"id":"1a2ba3c8.25632c","type":"comment","z":"b8723ac0.2d27b8","name":"only check exposures at a defined rate","info":"","x":1190,"y":280,"wires":[]},{"id":"8c52c88c.09a428","type":"comment","z":"b8723ac0.2d27b8","name":"subflow only used for logging purposes","info":"","x":1110,"y":720,"wires":[]},{"id":"359b6293.9ec50e","type":"file in","z":"b8723ac0.2d27b8","name":"","filename":"/output/loglistener.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":360,"y":120,"wires":[["21f009e1.f7b246"]]},{"id":"d7c460ac.b2f2f","type":"inject","z":"b8723ac0.2d27b8","name":"replay simulation","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":120,"wires":[["359b6293.9ec50e"]]},{"id":"5f299343.c0406c","type":"delay","z":"b8723ac0.2d27b8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":180,"wires":[["c109519a.3e8c8"]]},{"id":"ed32ee1.46edf1","type":"function","z":"b8723ac0.2d27b8","name":"compute delay","func":"let minutes = Number(msg.delay.split(\":\")[0]);\nlet seconds = Number(msg.delay.split(\":\")[1].split(\".\")[0]);\nlet milliseconds = Number(msg.delay.split(\":\")[1].split(\".\")[1]);\nmsg.delay = minutes * 60 * 1000 + seconds * 1000 + milliseconds;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":180,"wires":[["5f299343.c0406c"]]},{"id":"3812f2d.d5e370e","type":"catch","z":"b8723ac0.2d27b8","name":"catch log messages","scope":["c109519a.3e8c8"],"uncaught":false,"x":170,"y":800,"wires":[["7875421.da4fbbc"]]},{"id":"7875421.da4fbbc","type":"debug","z":"b8723ac0.2d27b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":800,"wires":[]},{"id":"21f009e1.f7b246","type":"function","z":"b8723ac0.2d27b8","name":"parse","func":"msg.delay = msg.payload.split(\"\\t\")[0];\nmsg.payload = msg.payload.split(\"\\t\")[2];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":120,"wires":[["ed32ee1.46edf1"]]},{"id":"99be6704.375768","type":"comment","z":"b8723ac0.2d27b8","name":"by triggering this flow it is possible to replay a previous cooja simluation,\\n complete of correct timings between messages","info":"","x":340,"y":60,"wires":[]}]