node-red/flows.json
[{"id":"b8723ac0.2d27b8","type":"tab","label":"Keep Your Distance","disabled":false,"info":""},{"id":"8bfda20a.9ad14","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"db","tz":"","charset":"UTF8"},{"id":"6be7bfb4.da3f5","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":80,"wires":[["c109519a.3e8c8"]]},{"id":"c109519a.3e8c8","type":"json","z":"b8723ac0.2d27b8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":80,"wires":[["309e9813.174bf8"]]},{"id":"309e9813.174bf8","type":"function","z":"b8723ac0.2d27b8","name":"insert","func":"msg.topic = \"INSERT INTO exposure_notifications (node_id, sender_id, message_counter) VALUES (:node_id, :sender_id, :counter) ON DUPLICATE KEY UPDATE message_counter = :counter\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":80,"wires":[["4225090b.a49e78"]]},{"id":"4225090b.a49e78","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":710,"y":80,"wires":[["d51a07ac.c710f8"]]},{"id":"f848bffe.3e274","type":"debug","z":"b8723ac0.2d27b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"d51a07ac.c710f8","type":"function","z":"b8723ac0.2d27b8","name":"select notifications","func":"msg.topic = \"SELECT * FROM exposures WHERE delivered = false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["f18a28f5.9b47a8"]]},{"id":"f18a28f5.9b47a8","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":770,"y":180,"wires":[["3cab4512.8cc88a"]]},{"id":"3cab4512.8cc88a","type":"split","z":"b8723ac0.2d27b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":180,"wires":[["c3115dce.0d585"]]},{"id":"9a8d7326.78d7f","type":"http request","z":"b8723ac0.2d27b8","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":280,"wires":[["f848bffe.3e274"]]},{"id":"c3115dce.0d585","type":"function","z":"b8723ac0.2d27b8","name":"prepare IFTTT webhook","func":"key = env.get('IFTTT_KEY');\nmsg.esposure_notification = msg.payload;\nmsg.url = `https://maker.ifttt.com/trigger/event/with/key/${key}?value1=${msg.payload.node_id_1}&value2=${msg.payload.node_id_2}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["9a8d7326.78d7f","7bd9a49c.63d44c"]]},{"id":"5356c01d.bc7a7","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":160,"wires":[["c109519a.3e8c8"]]},{"id":"9b8aacf6.886af","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":240,"wires":[["c109519a.3e8c8"]]},{"id":"7bd9a49c.63d44c","type":"switch","z":"b8723ac0.2d27b8","name":"switch on status code","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":380,"wires":[["8f3e71bd.24adb"]]},{"id":"8f3e71bd.24adb","type":"function","z":"b8723ac0.2d27b8","name":"update delivered","func":"msg.payload = msg.esposure_notification;\nmsg.topic = \"UPDATE exposures SET delivered = true WHERE node_id_1 = :node_id_1 AND node_id_2 = :node_id_2 AND date = :date\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":380,"wires":[["eef5bd8c.89b16"]]},{"id":"eef5bd8c.89b16","type":"mysql","z":"b8723ac0.2d27b8","mydb":"8bfda20a.9ad14","name":"","x":1090,"y":380,"wires":[[]]},{"id":"92aa85fe.7a5768","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":320,"wires":[["c109519a.3e8c8"]]},{"id":"a0714443.83eeb8","type":"tcp in","z":"b8723ac0.2d27b8","name":"","server":"client","host":"cooja","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":400,"wires":[["c109519a.3e8c8"]]},{"id":"a42b4ede.f982c","type":"comment","z":"b8723ac0.2d27b8","name":"add as many connections to cooja as needed","info":"","x":230,"y":40,"wires":[]}]